{% load static %}

<div class="jumbotron">
  <!-- Add icon for Redeemed Motherhood that links to home page -->
</div>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main_app:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">All Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">My Courses</a>
    </li>
  </ul>

{% block content %}



{% endblock %} 