{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    
    <div class="col-12 text-center"><h2>Sign up</h2></div>

    <div class="col-md-3 leftbanner"></div>

    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="col-md-3 rightbanner"></div>

  </div>
</div>

{% endblock %}