<!--Django: Load static css from videos/static/videos-->
{% load static %}
<!DOCTYPE html>

{% block content %}

    <h1>
        This is a test and should display {{ video.title }} in an embedded video
    </h1>
    
    <!--Link to video-->
    <div id = video-box, class=video-box>
        <iframe width="560" height="315" src="{{ video.embed_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
    </div>

    {% endblock %}
